<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<!-- Update supported runtime to .NET Framework 4.8 -->
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<!-- Update connection string as needed -->
	<!--	<add name="connstr" connectionString="Data Source=CIRRUS\VIJAY;Initial Catalog=DB_Bug_Tracking_Application;Integrated Security=True"/> -->
		<add name="connstr" connectionString="Data Source=LAPTOP-G1B7DE86\SQLEXPRESS;Initial Catalog=DB_Bug_Tracking_Application;Integrated Security=True"/>

	</connectionStrings>
</configuration>
